.free-lessons
    
    background: url('../img/webp/transparenthands.webp') no-repeat center right
    align-items: center
    text-align: center
    
    &_color-box
        background: linear-gradient(0deg, rgba(3, 37, 108, 0.8) -114%, rgba(6, 24, 38, 0.8) 215%) 
        padding-top: 128px
        padding-bottom: 122px
    &__container
        display: flex
        flex-direction: column
        align-items: center
        text-align: center
    &__headlight
        color: #fff
        margin-bottom: 26px
        font-weight: bold
        max-width: 325px
        width: 100%
    &__description
        color: #fff
        max-width: 380px
        width: 100%
        margin: auto
        margin-bottom: 45px
    &__form__container
        max-width: 395px
        width: 100%
        display: flex
        flex-direction: column
        align-items: center

    &__input
        max-width: 263px
        width: 100%
        padding-top: 17px
        padding-left: 17px
        padding-bottom: 17px
        outline: none
        border: none
        border-radius: 5px
        margin-bottom: 24px
        &:last-child
            margin-bottom: 0
